.chat-bar {
  font-size: 18px;
  padding-bottom: 10px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(223, 224, 220, 0.7);
  height: 100vw;
}
.main-chat {
  list-style-type: none;
  text-align: left;
  display: none;
  width: 15vw;
}

.shrink-room{
  width: 75vw;
}


.active {
  display: block;
  border: none;
}

.chat-input {
  text-align: center;
  width: 14vw;
  height: 5vh;
  margin: 0 auto;
  position: fixed;
  right: 10px;
  bottom:15px;
  color: black;
  text-align: left;
  border-radius: 0.5em;
}

.chatbar-toggle {
  position: absolute;
  top: 36px;
  right: 36px;
  cursor: pointer;
  color: rgba(255,255,255,0.8);
  font-size: 24px;
  z-index: 1;
}

ol {
list-style-type: none;
overflow-y: scroll;
// border: 1px solid rgba(5, 0, 0, 0.2);
margin-top: 7vh;
margin-bottom: 6vh;
height: 80vh;
position: fixed;
right: 5px;
padding-left: 0.5em;
background: white;
border-bottom: 1px solid black;
border-top: 1px solid black;
padding-bottom: 1em;
width: 14vw;
}


.chat-messages {
  color: black;
}

.chat-bar-logo {
	color: black;
	font-size: 45px;
	text-align: right;
	margin: -83% -70% 0px 0px;
}
