* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.chat-bar {
  font-size: 18px;
  padding-bottom: 10px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: grey;
  height: 100vw;
}
.main-chat {
  list-style-type: none;
  text-align: left;
  margin-top: 5em;
  list-style-type: none;
  display: none;
  width: 15vw;
}

.chat-input {
  text-align: center;
  width: 14vw;
  height: 5vh;
  margin: 0 auto;
  position: fixed;
  right: 10px;
  bottom: 5px;
  color: black;
  text-align: left;
}

.chatbar-toggle {
  position: absolute;
  top: 36px;
  right: 36px;
  cursor: pointer;
  color: rgba(255,255,255,0.8);
  font-size: 24px;
}

ol {
list-style-type: none;
overflow-y: scroll;
border: 1px solid rgba(5, 0, 0, 0.2);
height: 85vh;
}

.chat-messages {
  color: black;
}

.active {
  display: block;
}
