$backgroundcolour: #DFE0DC;

body {
	height: 100%;
}

//change the h1s in popup

.background {
	background-color: $backgroundcolour;
	height: 700px;
}

.sign-form {
	padding: 10px;
}

.label-form {
	padding: 10px;
	margin: 5px;
	width: 300px;
	color: black;
}

.input {
	padding: 5px;
	margin: 5px;
	width: 300px;
	color: black;
}

.button {
	padding: 10px;
	width: 100px;
	margin: 5px;
	background-color: darkgray;
	border-radius: 10%;
}

.popup-box {
	padding: 300px;
	left: 400px;
}

.title {
	color: black;
}

.popup-box-content{
	width: 250px !important;
	height: 260px !important;
}

.input-pop {
		padding: 5px;
		margin: 5px;
		width: 170px;
}

.mrow {
	color: black;
}
