@import url('https://fonts.googleapis.com/css?family=Roboto');
$lightgrey: #DFE0DC;
$darkgrey: #373a47;

.background {
	height: 100%;
	text-align: center;
}

.sign-form {
	padding: 10px;
}

.label-form {
	padding: 10px;
	margin: 5px;
	width: 300px;
	color: black;
}

body {
	background-color: #2D2F30;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	background-image: url('../assets/audio-mixer.jpg');
}

.input {
	padding: 5px;
	margin: 5px;
	width: 300px;
	color: black;
}

.button {
	padding: 10px;
	width: 60px;
	margin: 5px;
	background-color: darkgray;
	border-radius: 10%;
	border: none;
	color: black;
}

.popup-box {
	padding: 300px;
	left: 400px;
}

.title {
	padding: 5px;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.popup-box-content{
	width: 250px !important;
	height: 260px !important;
}

.input-pop {
		padding: 5px;
		margin: 5px;
		width: 170px;
}

.mrow {
	color: white;
	font-size: 400%;
	// background-color: rgba(223, 224, 220, 0.7);
	// width: 45%;
	margin: auto;
	border-radius: 10%;
	margin-top: 5%;
	padding: 1em;
	text-shadow: 2px 2px #000000;
}


.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 400px;
}

.box-button {
	border-radius: 10%;
	width: 80%;
	height: 23%;
	background-color: white;
	color: black;
	font-size: 180%;
	background-color: rgba(223, 224, 220, 0.7);
	margin: 15px;
	font-family: 'Roboto', sans-serif;
	border: none;
	cursor: pointer;
}


.form-style {
	background-color: rgba(223, 224, 220, 0.7);
	border-radius: 10%;
	margin: 10%;
	padding: 10%;
	color: white;

	a{
		text-decoration: none;
		color: white;
	}

	a:hover{
		color: #01FDF6;
	}
}

.input-home {
	width: 80%;
	padding: 5px;
	border-radius: 10%;
}

.select-menu {
	width: 80%;
	color: black;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	linear-gradient(to bottom, #ffffff 0%,darkgray 100%);
}

.add-more{
	position: fixed;
	right: 15vw;
}
