.sign-form {
	padding: 10px;
}

.label-form {
	padding: 10px;
	margin: 5px;
	width: 300px;
}

body {
	background-color: #2D2F30;
	// background-image:
	// 	linear-gradient(45deg, rgba(25, 15, 25, 0.4), rgba(0, 0, 0, 0.8)),
	// 	url('../assets/waveform.jpg');
	background-size: cover;
}

.input {
	padding: 5px;
	margin: 5px;
	width: 300px;
}

.button {
	padding: 10px;
	width: 100px;
	margin: 5px;
}

.popup-box {
	padding: 300px;
	left: 400px;
}

.title {
	color: white;
}

.popup-box-content{
	width: 250px !important;
	height: 235px !important;
}

.input-pop {
		padding: 5px;
		margin: 5px;
		width: 170px;
}
