@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');
$backgroundcolour: #DFE0DC;
$bordercolour: darkgrey;

.slidecontainer {
  width: 100%;
  text-align: center;

  flex-grow: 1;
  // background: rgba(223, 224, 220, 0.7);
  p {
    display: inline;
    font-weight: bold;
    color: black;
  }
}

//Slider config.
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 2px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 14px;
  border-radius: 2px;
  background: #000000;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 14px;
  border-radius: 2px;
  background: #000000;
  cursor: pointer;
  height: 8.4px;
}


.room-container {
  background-color: rgba(255,191,203,0.95);
}


#room-title {
  // text-shadow: 2px 2px #000000;
  // text-shadow: -1px 0px 12px rgba(0,0,0,0.74);
  text-shadow: -1px 0px 19px rgba(0,0,0,0.62);

  color: white;
  // padding-top: 2%;
  text-align: center;
  font-size: 350%;
  font-family: 'Baloo Bhai';
}

#room-pincode{
  text-shadow: -1px 0px 19px rgba(0,0,0,0.62);
  color: white;
  text-align: center;
  font-size: 150%;
  font-family: 'Baloo Bhai';

}

.effects-slider-container {
  width: 100%;
  text-align: center;
  flex-grow: 1;
  // background: rgba(223, 224, 220, 0.7);
  text-shadow: 1px 1px #01fdf6;
  label {
    display: inline;
    font-weight: bold;
    color: black;
  }
  h1 {
    text-shadow: 2px 2px #000000;
    color: white;
    padding-top: 5%;
  }
}

.slider {
  margin: 20px;
  display: inline;
  -webkit-appearance: none;
  appearance: none;
  width: 25%;
  height: 5px;
  background-color: #01fdf6;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 50%;
  background: $bordercolour;
}

.transport {
  margin: 16px;
	background-color:$backgroundcolour;
	border:1px solid $bordercolour;
	display:inline;
	cursor: pointer;
	color: black;
	font-family: Arial;
	font-size: 20px;
	font-weight:bold;
	padding: 10px 20px;
  width: 5%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.transport:hover {
	background-color:#01FDF6;
}

.transport:focus {
  outline: none;
}

.transport:active {
	position:relative;
	// top: 1px;
}



.row-container {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  height: 3em;
}

.row-title {
  background-color: $backgroundcolour;
  color: black;
  border: 1px solid $bordercolour;
  border-collapse: collapse;
  padding: 1em;
  width: 7%;
  font-size: 10px;
  font-weight: bold;
  overflow: hidden;
}

.tempo{
  text-shadow: 1px 1px #01fdf6;
}


.row-tile {
  cursor: pointer;
  background-color: $backgroundcolour;
  border: 1px solid $bordercolour;
  border-collapse: collapse;
  width: 2%;
  align-items: center;
  padding: 1em;
}

.selected {
  background-color: #01FDF6;
}

.active-tile {
  opacity: 0.8;
  border: solid #FCF7FF;
  border-width: 1px 1px;
  border-collapse: collapse;
}

.scale-controls-container {
  margin: 2em;
  width: 93%;
  text-align: center;
  flex-grow: 1;
  align-items: center;
  font-weight: bold;
  color: $backgroundcolour;
}

.scale-controls {
  margin: 2em;
  display: inline;
  // -webkit-appearance: none;
  // appearance: none;
  width: 25%;
  height: 5px;
  label {
    color: black;
    text-shadow: 1px 1px #01fdf6;

    margin: 1em;
  }
}
