$backgroundcolour: #DFE0DC;
$bordercolour: darkgrey;

.row-container {
  display: flex;
  // align-items: center;
  justify-content: center;
  // padding: 1em;
}

.row-title {
  background-color: $backgroundcolour;
  border: 1px solid $bordercolour;
  padding: 1em;
  width: 5%;
  font-size: 10px;
}

.row-tile {
  width: 2%;
  border: 1px solid $bordercolour;
  border-collapse: collapse;
  align-items: center;
  padding: 1em;
  background-color: $backgroundcolour;

}

.selected {
  background-color: #01FDF6;
}

.active{
  border: solid white;
  border-width: 1.5px;
  box-shadow: 3px white;
  border-collapse: collapse;

}

.roomBackground{
  background-color: grey;
}
