$backgroundcolour: #DFE0DC;
$bordercolour: darkgrey;

.slidecontainer {
  width: 100%;
  text-align: center;

  flex-grow: 1;
  background: rgba(223, 224, 220, 0.7);
  p {
    display: inline;
    font-weight: bold;
    color: black;
  }
}


input::-webkit-slider-track { background: #01fdf6; }
input::-moz-range-track { background: #01fdf6;/* common styles */ }
input::-ms-track { background: #01fdf6;/* common styles */ }

#room-title {
  text-shadow: 2px 2px #000000;
  color: white;
  padding-top: 2%;
  text-align: center;
  font-size: 300%;
}

.effects-slider-container {
  width: 100%;
  text-align: center;
  flex-grow: 1;
  background: rgba(223, 224, 220, 0.7);
  text-shadow: 1px 1px #01fdf6;
  label {
    display: inline;
    font-weight: bold;
    color: black;
  }
  h1 {
    text-shadow: 2px 2px #000000;
    color: white;
    padding-top: 5%;
  }
}

.slider {
  margin: 20px;
  display: inline;
  -webkit-appearance: none;
  appearance: none;
  width: 25%;
  height: 5px;
  background-color: #01fdf6;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 50%;
  background: $bordercolour;
}

.transport {
  margin: 16px;
	background-color:$backgroundcolour;
	border:1px solid $bordercolour;
	display:inline;
	cursor: pointer;
	color: black;
	font-family: Arial;
	font-size: 20px;
	font-weight:bold;
	padding: 10px 20px;
  width: 5%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.transport:hover {
	background-color:#01FDF6;
}

.transport:focus {
  outline: none;
}

.transport:active {
	position:relative;
	// top: 1px;
}



.row-container {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
}

.row-title {
  background-color: $backgroundcolour;
  color: black;
  border: 1px solid $bordercolour;
  border-collapse: collapse;
  padding: 1em;
  width: 7%;
  font-size: 10px;
  font-weight: bold;
  overflow: hidden;
}

.tempo{
  text-shadow: 1px 1px #01fdf6;
}


.row-tile {
  cursor: pointer;
  background-color: $backgroundcolour;
  border: 1px solid $bordercolour;
  border-collapse: collapse;
  width: 2%;
  align-items: center;
  padding: 1em;
}

.selected {
  background-color: #01FDF6;
}

.active-tile {
  opacity: 0.8;
  border: solid #FCF7FF;
  border-width: 1px 1px;
  border-collapse: collapse;
}

.scale-controls-container {
  margin: 2em;
  width: 93%;
  text-align: center;
  flex-grow: 1;
  align-items: center;
  font-weight: bold;
  color: $backgroundcolour;
}

.scale-controls {
  margin: 2em;
  display: inline;
  // -webkit-appearance: none;
  // appearance: none;
  width: 25%;
  height: 5px;
  label {
    text-shadow: 2px 2px #000000;
    margin: 1em;
  }
}
